html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table
}

.content {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
}

.portrait {
  border-radius: 90px;
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
}

.portrait:hover {
  background:rgba(0,0,0,0.6);
  opacity: 0.8;
  transition: all 0s;
}

/* .portrait:focus {
    opacity: 0;
  } */

.name {
    font-size: 3em;
    margin: 0;
}

.pseudo {
    font-size: 2em;
    margin: 0;
    margin-bottom: 1em;
}

.desc {
    font-size: 1.4em;
    margin: auto;
    max-width: 550px;
}

.text {
    list-style-type: none;
}

.text li {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0 0 1.2em 0;
}

.links {
    padding: 0;
    margin-top: 3em;
    margin-bottom: 5em;
}

.links li {
    display: inline;
    font-size: 2em;
    padding: .4em;
}

a {
    text-decoration: none;
}

.desc:hover a {
    text-decoration: underline;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    font-size: 0.4em;
    font-family: 'IBM Plex Sans', sans-serif;
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.link-icon-desc {
    display: none;
}

/*** Light theme ***/
body {
    background-color: #e7f5fd;
    color: #1c201c;
}

ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

.desc {
    color: #1c201c;
}

a:link, a:visited {
    color: #1c201c;
}

a:hover, button:hover {
    color:rgba(0,0,0,0.6);
    opacity: 0.8;
}

#special_link:link, #special_link:visited {
  text-decoration: underline;
  color: #A4A5A4;
}

#uncover_button {
  text-decoration: underline;
}

/* #special_link:hover, #special_link:visited {
  color: red;
} */

.fab:hover {
  color:rgba(0,0,0,0.6);
  opacity: 0.8;
  text-decoration: none;
}

.covered_text {
  display: none;
  opacity: 1;
  color: #A4A5A4;
}
